  fieldSet
    {
        width: 97%;
        margin-left: 10px;
    }

    legend
    {
        background-color:#F5F5DC;
        font-weight: bold;
        Color: Tomato;
        width:30%;
        padding-left:10px;

    }